<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.projectKnowledge.dao.CharacteristicDao">
	<resultMap type="CoreCharacteristic" id="characteristicMap">
		<id column="CHARACTERISTIC_ID" property="characteristicId" javaType="java.lang.Integer" />
		<result column="CHARACTERISTIC_NAME" property="characteristicName" javaType="java.lang.String" />
		<result column="CHARACTERISTIC_DEFINITION" property="characteristicDefinition" javaType="java.lang.String" />
		<result column="POINT_ID" property="pointId" javaType="java.lang.Integer" />
		<result column="EXIST_SAMPLE" property="existSample" javaType="java.lang.String" />
	</resultMap>
	
	<select id="queryCharacteristicList" resultMap="characteristicMap">
		SELECT
			CHARACTERISTIC_ID,
			CHARACTERISTIC_NAME,
			CHARACTERISTIC_DEFINITION,
			POINT_ID,
			EXIST_SAMPLE
		FROM
			core_characteristic
		WHERE
			POINT_ID = #{pointId,jdbcType=INTEGER}
	</select>

	
</mapper>